body {
	margin: 0;
	padding: 0;
}
#root {
	height: 95%;
	background-color: darkgray;
	padding: 20px 5px;
}
.logo-img {
	width: 5%;
	height: auto;
	border-radius: 100%;
	padding-right: 5px;
}
#logo {
	color: goldenrod;
}

input {
	display: inline;
	max-width: fit-content;
	margin: 0em;
	padding: 0;
}
.btn-outline-success {
	color: goldenrod;
	border-color: goldenrod;
}
.container {
	margin: auto;
	/* margin: 25px, 0, 5px, 20px; */
	padding: 15px 0px;
	max-width: 900px;
	height: 400px;
	background-image: url(Canyon-photo.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* background-color: black; */
	overflow-x: hidden;
	overflow-y: scroll;
}
#footer {
	background-color: goldenrod;
	padding: 3%;
	font-size: 0.5rem;
	text-align: center;
}
@media (max-width: 1100px) {
	#root {
		padding-top: 10%;
		height: 1200px;
	}
	.container {
		width: 750px;
		height: 750px;
	}
}
@media screen and (max-width: 900px) {
	#root {
		height: 860px;
	}
	.container {
		padding: 15px 0px;
		height: 95%;
		width: 600px;
	}
}
@media (max-width: 450px) {
	body {
		width: auto;
	}
	#root {
		height: 620px;
	}
	.container {
		width: 300px;
		padding: 0;
		height: 80%;
	}
}
